<!DOCTYPE html>
<html>
<head>
  <title>LayerPusher</title>
  <%= stylesheet_link_tag    "layer_pusher/application", media: "all" %>
  <%= javascript_include_tag "layer_pusher/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
